<section>
    <div class="row">
        <div class="container">
            <div class="full full-table-view">
                <table>
                    <!-- Table Header--->
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Username <app-sort-btn (sortCallback)="sorting($event, sortingName.USERNAME)"></app-sort-btn></th>
                        <th>Email <app-sort-btn (sortCallback)="sorting($event, sortingName.EMAIL)"></app-sort-btn></th>
                        <th>Phone</th>
                        <th>Address</th>
                    </tr>
                    <!--Data Rendering--->
                    <ng-container *ngFor="let user of users">
                        <tr>
                            <td>{{user?.id}}</td>
                            <td>{{user?.name?.firstname}} {{user?.name?.lastname}}</td>
                            <td>{{user?.username}}</td>
                            <td>{{user?.email}}</td>
                            <td>{{user?.phone}}</td>
                            <td>{{user?.address?.city}}, {{user?.address?.street}} {{user?.address?.zipcode}}</td>
                        </tr>
                    </ng-container>
                    <!--Loader...--->
                    <tr *ngIf="isApiCallInProgress">
                        <td colspan="6" class="tc">Loading... please wait</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>